.App {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 200px auto;
}

.Input input,
.Input button {
    margin-bottom: 20px;
    padding: 15px;
}

button {
    color: white;
    font-size: medium;
    border: none;
    font-weight: 900;
}

.dBtn {
    background-color: red;
}

.eBtn {
    background-color: blue;
}

#aBtn {
    background-color: green;
}

.Table {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    width: 100%;
}


/*.Table,
.Table td {
    border: 1px solid;
}*/

tr {
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #eee;
}

tr:hover {
    background-color: #D6EEEE;
}

.Table td {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    gap: 1em;
    width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}